---
import Layout from '../layouts/Layout.astro';
import RiddleSection from '../sections/RiddleSection.astro';
import SoundController from '../components/SoundController.astro';
---

<Layout title="△ This is not a happy birthday website.">
	<main>
		<SoundController />
		<RiddleSection />
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>

