---
import BillCipher from "../assets/BillCipher.astro";
---

<audio src="/sounds/rain.mp3" id="rain"></audio>
<audio src="/sounds/ominous.mp3" id="ominous"></audio>
<audio src="/sounds/thunder1.mp3" id="thunder1"></audio>
<audio src="/sounds/thunder2.mp3" id="thunder2"></audio>
<audio src="/sounds/tone.mp3" id="tone"></audio>
<audio src="/sounds/begin.mp3" id="begin"></audio>
<button id="buttonSound" aria-label="Play SequenceSounds">
  <BillCipher />
  <svg
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    width="100%"
    viewBox="0 0 832 704"
    enable-background="new 0 0 832 704"
    xml:space="preserve"
  >
    <path
      fill="#000000"
      opacity="1.000000"
      stroke="none"
      d="
M340.694977,586.510315 
	C316.237457,580.469849 293.422394,571.376038 271.816101,559.283325 
	C244.510529,544.000793 219.444534,525.678955 197.094421,503.720276 
	C191.716675,498.436737 191.585220,498.468292 185.961731,503.877930 
	C170.000229,519.232544 154.003967,534.551025 138.020493,549.882690 
	C137.780045,550.113342 137.527969,550.331848 137.282104,550.556885 
	C132.401352,555.024231 128.655029,555.968445 125.961967,553.409729 
	C123.423729,550.998108 123.571930,545.074402 126.774895,540.890686 
	C131.651199,534.521179 137.803055,529.322266 143.546127,523.777283 
	C154.690063,513.017700 166.023895,502.451141 177.434509,491.973877 
	C180.377594,489.271484 180.729401,487.448425 177.793076,484.346497 
	C147.545563,452.393250 122.175117,416.799591 99.612778,379.118164 
	C97.001488,374.757050 97.070305,370.625946 99.435440,366.379761 
	C108.122604,350.783630 118.470413,336.298706 129.189758,322.064575 
	C160.586655,280.372803 195.592331,242.181488 237.436386,210.647736 
	C240.181671,208.578888 240.629669,206.836349 238.995193,203.593582 
	C226.187027,178.182632 213.621094,152.649673 200.948105,127.170433 
	C197.412460,120.061974 198.912262,113.146805 205.193848,108.189362 
	C209.771851,104.576401 212.755676,105.166153 215.483612,110.545387 
	C221.733932,122.870445 227.857147,135.259979 234.028107,147.625259 
	C241.241562,162.079483 248.529312,176.497559 255.605545,191.018661 
	C257.321167,194.539307 258.870270,195.333969 262.385254,193.002686 
	C286.233917,177.185196 311.557526,164.240036 338.866577,155.554794 
	C348.316132,152.549515 358.231171,151.035583 367.868591,148.584793 
	C376.427490,146.408295 384.957428,144.353073 393.885834,144.566528 
	C396.407837,144.626831 397.222534,142.835724 397.155182,140.495987 
	C396.427063,115.199440 395.808014,89.899292 394.945343,64.607414 
	C394.704834,57.555550 394.840912,50.906967 401.058624,46.071678 
	C403.120270,44.468426 405.216644,43.110512 407.891785,44.147808 
	C410.575378,45.188393 411.344818,47.487789 411.461090,50.183086 
	C411.683502,55.339722 412.277374,60.493908 412.241486,65.645798 
	C412.070709,90.128220 414.056213,114.547379 414.237640,139.014801 
	C414.266937,142.963837 416.332520,143.733002 419.630859,143.707718 
	C430.952606,143.620895 442.217834,144.176865 453.327240,146.666275 
	C470.377380,150.486923 487.750275,153.299591 503.773254,160.617462 
	C525.175903,170.392303 547.221863,178.988464 566.612793,192.678238 
	C570.400757,195.352524 571.904480,194.198624 573.625977,190.584290 
	C584.785156,167.155991 596.069275,143.787201 607.335999,120.410210 
	C608.958374,117.044022 611.125366,114.126259 614.701843,112.576607 
	C618.638611,110.870850 621.637756,112.599907 622.248901,116.857445 
	C622.828552,120.896011 621.171570,124.367172 619.508057,127.821320 
	C607.947388,151.826111 596.438660,175.856583 584.701416,199.774887 
	C583.064453,203.110703 583.849121,204.692429 586.512817,206.771820 
	C604.356140,220.701263 620.970215,236.089722 637.322144,251.668152 
	C658.317444,271.670319 676.920166,293.915375 694.475708,317.020111 
	C711.108337,338.910278 726.625427,361.562622 741.729248,384.521973 
	C745.530579,390.300354 745.125854,395.329041 741.339844,400.612915 
	C732.406738,413.080109 722.567627,424.821381 712.423096,436.297791 
	C693.754822,457.417114 673.710632,477.143433 651.833984,494.949219 
	C648.649902,497.540833 648.225281,499.582550 650.511963,503.264496 
	C660.788635,519.811157 670.789368,536.531677 680.707397,553.297302 
	C684.626404,559.922058 679.474731,570.600037 671.924561,572.451599 
	C667.736023,573.478760 666.318298,570.594543 664.677612,567.870422 
	C654.459167,550.904419 644.273682,533.918579 634.023804,516.971680 
	C630.754211,511.565826 630.526672,511.624542 625.413513,515.425171 
	C585.392883,545.172607 542.014099,568.410706 494.033295,582.510437 
	C475.533600,587.946838 456.633942,591.500854 437.389191,593.429199 
	C426.057251,594.564697 414.764679,594.170776 403.462097,594.128845 
	C398.707367,594.111206 396.963135,595.319092 397.221954,600.251099 
	C398.181580,618.536743 399.222809,636.821411 399.346252,655.145447 
	C399.382721,660.560852 397.600739,664.839661 393.637299,668.390381 
	C391.733246,670.096191 389.827881,672.014893 387.066284,670.871460 
	C384.198608,669.684082 382.899475,667.143311 382.727234,664.103455 
	C382.435486,658.954224 382.146942,653.802734 381.993866,648.648132 
	C381.524933,632.853638 381.129333,617.056946 380.688446,601.261658 
	C380.458984,593.041260 380.018494,592.822754 371.939453,592.200195 
	C361.485504,591.394592 351.323578,588.777405 340.694977,586.510315 
M381.163879,165.820465 
	C361.681976,168.520737 342.689484,173.213699 324.336395,180.280136 
	C278.041382,198.104935 238.530670,226.398331 202.923126,260.333557 
	C170.968948,290.786987 143.174866,324.805176 118.964088,361.747681 
	C117.006821,364.734222 116.953491,366.768707 118.844414,369.737762 
	C129.223404,386.034454 139.805267,402.178406 151.280914,417.739594 
	C185.717529,464.436310 225.693970,505.146179 276.010529,535.000000 
	C314.335449,557.739014 355.610901,570.832275 400.023987,573.506653 
	C419.618134,574.686401 439.278198,573.711304 458.696381,570.499451 
	C491.230255,565.118164 522.259766,554.903503 551.901794,540.490295 
	C591.563110,521.205383 627.376221,496.221619 660.348145,467.049408 
	C682.105286,447.799530 702.068665,426.841003 720.234558,404.172363 
	C722.615906,401.200745 725.161316,398.669586 722.143250,394.145447 
	C693.904907,351.815552 663.575256,311.148041 628.166931,274.458344 
	C591.974121,236.955826 551.570374,205.275208 503.334167,184.498367 
	C473.375366,171.594193 442.192169,164.382050 409.434204,164.295792 
	C400.259949,164.271637 391.162750,165.102356 381.163879,165.820465 
z"
    ></path>
    <path
      fill="#000000"
      opacity="1.000000"
      stroke="none"
      d="
M437.469177,496.322937 
	C434.649689,502.079742 431.502716,507.158142 427.141998,511.396667 
	C418.333588,519.958252 406.467957,520.040161 397.718170,511.366028 
	C387.620514,501.355621 381.911865,488.734741 377.820953,475.455933 
	C371.901184,456.240784 367.744965,436.564117 364.993652,416.656036 
	C363.245667,404.007629 362.378174,391.242523 361.466156,378.482880 
	C360.416412,363.797028 360.800385,349.186035 361.761353,334.591064 
	C363.763489,304.182068 368.867493,274.291046 378.095490,245.169907 
	C382.222290,232.146713 386.721741,219.275833 392.871429,207.047012 
	C398.973572,194.912704 410.347778,190.275162 423.028381,195.077332 
	C434.588837,199.455307 442.818024,206.719711 446.787445,219.313660 
	C454.008759,242.225006 459.039764,265.432922 461.522369,289.329681 
	C463.594055,309.271179 464.030914,329.245239 463.118805,349.167999 
	C461.652008,381.206024 457.479034,412.970642 450.810516,444.393280 
	C447.878510,458.209259 444.771179,471.975922 441.373291,485.680603 
	C440.490234,489.242157 439.339966,492.714355 437.469177,496.322937 
z"
    ></path>
  </svg>
</button>

<script>
  import { isOpen } from '../utils/store.js';

  const buttonSound = document.getElementById("buttonSound") as HTMLAudioElement;
  const eyeBillCipher = document.getElementById("Layer_1");

  function playSequence() {
    const rain = document.getElementById("rain") as HTMLAudioElement;
    const ominous = document.getElementById("ominous") as HTMLAudioElement;
    const thunder1 = document.getElementById("thunder1") as HTMLAudioElement;
    const thunder2 = document.getElementById("thunder2") as HTMLAudioElement;
    const tone = document.getElementById("tone") as HTMLAudioElement;

    // Reproduce la primera canción
    rain.volume = 0.3;
    rain.play();

    setTimeout(function() {
      thunder1.volume = 0.7;
      thunder1.play();
    }, 30000);

    // Reproduce un trueno 50 segundos después de iniciar la segunda canción
    setTimeout(function() {
      thunder1.volume = 0.7;
      thunder1.play();
    }, 50000);

    setTimeout(function() {
      thunder2.volume = 0.7;
      thunder2.play();
    }, 80000);

    setTimeout(function() {
      thunder1.volume = 0.7;
      thunder1.play();
    }, 190000);

    setTimeout(function() {
      thunder1.volume = 0.7;
      thunder1.play();
    }, 2300000);

    setTimeout(function() {
      thunder2.volume = 0.7;
      thunder2.play();
    }, 2700000);

    setTimeout(function() {
      thunder2.volume = 0.7;
      thunder2.play();
    }, 2900000);

    // Cuando termine la primera canción, reproduce la segunda canción
    rain.addEventListener("ended", function onTrack1Ended() {
      rain.removeEventListener("ended", onTrack1Ended); // Remueve el event listener para evitar múltiples llamadas
      ominous.volume = 1;
      ominous.play();

      // Otro trueno después de 30 segundos
      setTimeout(function() {
        thunder2.volume = 0.7;
        thunder2.play();
      }, 30000);

      setTimeout(function() {
        thunder1.volume = 0.7;
        thunder1.play();
      }, 60000);
    });

    // Cuando termine la segunda canción, reinicia la secuencia
    ominous.addEventListener("ended", function onTrack2Ended() {
      ominous.removeEventListener("ended", onTrack2Ended); // Remueve el event listener para evitar múltiples llamadas
      tone.volume = 0.7;
      tone.play();

      tone.addEventListener("ended", function onTrack3Ended() {
        tone.removeEventListener("ended", onTrack3Ended); // Remueve el event listener para evitar más llamadas
        playSequence();
      })
    });
  }

  // Inicia la secuencia cuando se carga la página
  buttonSound.addEventListener("click", function () {
    const begin = document.getElementById("begin") as HTMLAudioElement;
    begin.volume = 0.7;
    begin.play();

    setTimeout(function () {
      buttonSound.classList.add("animation__bill-cipher");
    }, 2300);
    eyeBillCipher.classList.add("animation__eye-bill");
    buttonSound.style.cursor = "default";
    setTimeout(function () {
      buttonSound.style.display = "none";
    }, 6800);
    playSequence();
  });
  
  function setStateAnimation() {
    isOpen.set(true);
  }

  buttonSound.addEventListener('click', setStateAnimation);
  window.addEventListener('load', function() {
    buttonSound.classList.add('loaded');
});
</script>

<style>
  svg {
    position: absolute;
    width: 400px;
    height: 150px;
		opacity: 0;
	}

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    opacity: 0; 
    filter: blur(5px); 
    transition: opacity 2s ease-in-out, filter 2s ease-in-out;
  }

  #buttonSound.loaded {
    opacity: 1;
    filter: blur(0); 
  }

  p {
    font-size: 25rem;
    color: #fff;
    user-select: none;
  }

  @keyframes bill__cipher {
    0% {
      transform: scale(1);
    }

    60% {
      opacity: 0;
      transform: scale(.8);
    }

    80% {
      filter: blur(10px);
    }
  }

  @keyframes eye__bill {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .animation__eye-bill {
    animation: eye__bill 8s ease-in-out;
  }

  .animation__bill-cipher {
    animation: bill__cipher 8s ease-in-out;
  }

  @media (max-width: 500px) {
    svg {
      width: 160px;
      height: 120px;
    }
  }
</style>
